* {
    font-family: Arial, Helvetica, sans-serif;
}

.questions-and-data {
    display: flex;
    counter-reset: question-counter;
}

.questions {
    flex: 1;
    border-right: 1px solid #ccc;
    /* Add vertical scroll bar
    overflow-y: scroll;
     Limit the height to fit 3 questions
    max-height: calc(100vh - 180px); */
}

.questions>div {
    margin-bottom: 20px;
}

.data {
    flex: 1;
    padding-left: 20px;
}

.question:before {
    counter-increment: question-counter;
    content: counter(question-counter) ". ";
}

h4,
h4,
h4,
h4,
h4 {
    display: inline;
}

.clear-answers,
.step2-select-all,
.step2-clear-selections {
    background-color: #1e90ff;
    /* Dark blue color */
    color: white;
    border: none;
    border-radius: 20px;
    /* Round shape */
    padding: 10px 20px;
    /* Adjust padding to make the buttons bigger */
    font-size: 16px;
    /* Adjust font size as desired */
}

.clear-answers:hover,
.step2-select-all:hover,
.step2-clear-selections:hover {
    background-color: #003399;
    /* Darker blue color on hover */
    cursor: pointer;
}

.info-if-selected {
    display: none;
}

.cards-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.card {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.card.filtered {
    background-color: #ccc;
}

.card.selected {
    background-color: #1e90ff;
    color: white;
}

.card.selected.filtered {
    background-color: #1e90ff;
    color: black;
}


@media (max-width: 768px) {
    .cards-container {
        grid-template-columns: 1fr;
    }

    .questions-and-data {
        flex-direction: column;
    }
}

table {
    margin-top: 10px;
}

table,
th,
td {
    border: 1px solid;
}

.table-container {
    overflow-x: auto;
    max-width: 100%;
}

.list {
    width: max-content;
    white-space: nowrap;
}

.list th,
.list td {
    padding: 8px;
}

/* Style for the info button */
.info-button {
    cursor: pointer;
    margin-left: 5px;
    position: relative;
}

/* Style for the tooltip message */
.info-button::after {
    content: attr(data-info);
    position: absolute;
    top: -50px;
    left: 20px;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    display: none;
    white-space: pre-wrap;
    max-width: 300px; /* Adjust the max-width value to fit approximately 7 words per line */
}

/* Show tooltip message on hover */
.info-button:hover::after {
    display: block;
}

.info-icon {
    color: #007bff; /* Change the color to your desired color */
    font-size: 16px; /* Optional: Adjust the font size as needed */
    padding: 10px;
    border-radius:50%;
    background-clip:content-box; /* <- key point*/
}